# Data Frames

In [2]:
import pandas as pd

## Pandas use native python
in the example below I have a dictionary and I will convert it to data frame to see how it seems like

In [3]:
people={
    "first":["Ali","Mahmoud","Saad","Khalid"],
    "last":["Maged","Waleed","Maher","Zaki"],
    "salary":[200,300,1000,5000]
}

In [4]:
people_df=pd.DataFrame(people)
people_df

     first    last  salary
0      Ali   Maged     200
1  Mahmoud  Waleed     300
2     Saad   Maher    1000
3   Khalid    Zaki    5000

Data Frames is a `container` of datatype called `series` I will prove this below

In [5]:
type(people_df['first'])

pandas.core.series.Series

as you can see the output above the columns is called series

## Data Frame columns Accessibility 

I can access columns using 2 ways 
- square brakets
- . access

But the preferred the square brakets method because the . way may be confuse the python interpreter

EX : If you have column called first and the is pandas built-in function with the same name 
    the interpreter will invoke the first function alternative to display 'first' column's cells

In [6]:
people_df['last']

0     Maged
1    Waleed
2     Maher
3      Zaki
Name: last, dtype: object

In [7]:
people_df.salary

0     200
1     300
2    1000
3    5000
Name: salary, dtype: int64

## Data Frame rows Accessibility 

I can access rows using 2 functions 
- loc("labled data") `We will discuss it when we use labled indexes`
- iloc([row's index]) `I can reach a specific cell using it as will iloc[[rows indexes], [columnns indexes]]`

In [8]:
# Reach one row
people_df.iloc[0]

first       Ali
last      Maged
salary      200
Name: 0, dtype: object

In [9]:
# Reach multiple rows
people_df.iloc[[0,2]]

  first   last  salary
0   Ali  Maged     200
2  Saad  Maher    1000

In [10]:
# Reach multiple rows with a specific column
people_df.iloc[[0,2],0]

0     Ali
2    Saad
Name: first, dtype: object

In [11]:
people_df.iloc[[0,2],1]

0    Maged
2    Maher
Name: last, dtype: object

In [12]:
people_df.iloc[[0,2],2]

0     200
2    1000
Name: salary, dtype: int64

We did not use labled indexes uptill now so let me give you an example using it by default index

In [14]:
people_df.loc[[1,2],['last','salary']]

     last  salary
1  Waleed     300
2   Maher    1000

Let's implement this in our stack overflow survey

In [17]:
df= pd.read_csv('./survey_results_public.csv')
schema_df=pd.read_csv('./survey_results_schema.csv')
pd.set_option('display.max_rows',10)
pd.set_option('display.max_columns',10)

In [16]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

this the available columns in my data set but I want to select all opinions about how the `survey Ease`

In [21]:
df['SurveyEase']

0                               NaN
1                         Difficult
2        Neither easy nor difficult
3                              Easy
4                              Easy
                    ...
73263                          Easy
73264                          Easy
73265                          Easy
73266                          Easy
73267                          Easy
Name: SurveyEase, Length: 73268, dtype: object

In [ ]:
I want to know counts of each answers .ie how many people answered
with easy, difficult..etc

In [22]:
df['SurveyEase'].value_counts()

Easy                          47886
Neither easy nor difficult    21627
Difficult                       995
Name: SurveyEase, dtype: int64

If I want the second index answer about how servey ease

In [25]:
df.loc[1,'SurveyEase']

'Difficult'

I want the first 10 answers

In [26]:
df.loc[0:9,'SurveyEase']

0                           NaN
1                     Difficult
2    Neither easy nor difficult
3                          Easy
4                          Easy
5                          Easy
6                          Easy
7                          Easy
8                          Easy
9                          Easy
Name: SurveyEase, dtype: object

This is slicing like list slicing in python

If I told you that I want the first 20 rows of data from `mainbranch` column to the `EdLevel`column

In [28]:
pd.set_option('display.max_rows',20)
df.loc[0:19,'MainBranch':'EdLevel']

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel
0,None of these,NaN,NaN,NaN,NaN
1,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN
2,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
3,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
4,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
5,"I am not primarily a developer, but I write co...","Student, full-time",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
6,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G..."
7,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...
8,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
9,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,Some college/university study without earning ...
10,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
11,"I am not primarily a developer, but I write co...","Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
12,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
13,I am a developer by profession,"Employed, part-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
14,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Freelance/contract work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
15,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
16,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
17,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
18,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Secondary school (e.g. American high school, G..."
19,I am learning to code,"Student, full-time",NaN,NaN,Some college/university study without earning ...