# Data Frames

In [ ]:
import pandas as pd

# df= pd.read_csv('./survey_results_public.csv')
# schema_df=pd.read_csv('./survey_results_schema.csv')
# pd.set_option('display.max_rows',79)
# pd.set_option('display.max_columns',79)

## Pandas use native python
in the example below I have a dictionary and I will convert it to data frame to see how it seems like

In [16]:
people={
    "first":["Ali","Mahmoud","Saad","Khalid"],
    "last":["Maged","Waleed","Maher","Zaki"],
    "salary":[200,300,1000,5000]
}

In [18]:
people_df=pd.DataFrame(people)
people_df

     first    last  salary
0      Ali   Maged     200
1  Mahmoud  Waleed     300
2     Saad   Maher    1000
3   Khalid    Zaki    5000

Data Frames is a `container` of datatype called `series` I will prove this below

In [21]:
type(people_df['first'])

pandas.core.series.Series

as you can see the output above the columns is called series

## Data Frame columns Accessibility 

I can access columns using 2 ways 
- square brakets
- . access

But the preferred the square brakets method because the . way may be confuse the python interpreter

EX : If you have column called first and the is pandas built-in function with the same name 
    the interpreter will invoke the first function alternative to display 'first' column's cells

In [23]:
people_df['last']

0     Maged
1    Waleed
2     Maher
3      Zaki
Name: last, dtype: object

In [24]:
people_df.salary

0     200
1     300
2    1000
3    5000
Name: salary, dtype: int64

## Data Frame rows Accessibility 

I can access rows using 2 functions 
- loc("labled data")
- iloc([row's index]) `I can reach a specific cell using it as will iloc[[rows indexes], [columnns indexes]]`

In [25]:
# Reach one row
people_df.iloc[0]

first       Ali
last      Maged
salary      200
Name: 0, dtype: object

In [26]:
# Reach multiple rows
people_df.iloc[[0,2]]

  first   last  salary
0   Ali  Maged     200
2  Saad  Maher    1000

In [32]:
# Reach multiple rows with a specific column
people_df.iloc[[0,2],0]

0     Ali
2    Saad
Name: first, dtype: object

In [31]:
people_df.iloc[[0,2],1]

0    Maged
2    Maher
Name: last, dtype: object

In [30]:
people_df.iloc[[0,2],2]

0     200
2    1000
Name: salary, dtype: int64